* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  .app-container {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;

    .qr-code {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .text-container {
      padding: 10px;
      text-align: center;
    }

    h3 {
      font-size: 15px;
      color: hsl(218, 44%, 22%);
      margin-bottom: 10px;
    }

    p {
      color: hsl(220, 15%, 55%);
      font-size: 12px;
    }
  }

  .attribution {
    font-size: 10px;
    margin: 0 auto 20px;
    text-align: center;
  }
}
